/* The side navigation menu */
.toc {
  position: absolute;
  float: right;
  height: max-content;
  /* 100% Full-height */
  width: max-content;
  /* 0 width - change this with JavaScript */

  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  right: 0;

  /* Blackish*/
  background-color: #202020;
  overflow-x: hidden;

  /* Disable horizontal scroll */
  padding-top: 0px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the toc */
}

/* The navigation menu links */
.toc a {
  font-size: 25px;
  padding: 4px 4px 4px 32px;
  text-decoration: none;
  color: white;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.toc a:hover {
  color: gray;
}

/* Position and style the close button (top right corner) */
.toc .closebtn {
  position: relative;
  padding: 4px 4px 4px 32px;
  top: 0;
  font-size: 36px;
}

/* On smaller screens, where height is less than 450px, change the style of the toc (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .toc {
    padding-top: 15px;
  }

  .toc a {
    font-size: 18px;
  }
}
