/* ------------ ( BY DEFAULT ) DISABLE BUTTONS ------------ */

/* OPEN BUTTON */

.open {
  background-color: #202020;
  color: white;
  padding: 12px 12px;
  text-align: center;
  font-size: 25px;
  display: none;
}

/* CLOSE BUTTON */

.nav .close {
  position: absolute;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  display: none;
}

/* ------------ ( ON SMALL SCREENS ) ENABLE BUTTONS ------------ */

@media screen and (max-width: 450px) {

  .open {
    display: block;
  }

  .nav .close {
    display: block;
  }
}
