/* On wide screens, disable menu button */
.btn {
  background-color: #202020;
  color: white;
  padding: 12px 12px;
  text-align: center;
  font-size: 25px;
  display: none;
}

/* On smaller screens, enable menu button */
@media screen and (max-width: 450px) {
  .btn {
    display: block;
  }
}

/* hover effect */
.btn:hover {
  background-color: #ddd;
  color: #202020;
}
