/* ------------ GENERAl ------------ */

* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #f1f1f1;
}

.row {
  width: 100%;
}

/* PADDING BETWEEN COLUMN */
.row,
.row > .column {
  padding: 10px;
}

/* FLOAT COLUMNS */
.column {
  float: left;
  width: 20%;
}

/* CLEAR FLOAT AFTER ROWS */
.column:after {
  content: "";
  display: table;
  clear: both;
}

/* CARD */
.card {
  background-color: white;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

/* ------------ ( ON SMALL SCREENS ) ADJUST LAYOUT ------------ */

/* TWO COLUMN  */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* ONE COLUMN */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

/* ------------ EFFECTS ------------ */

.card:hover {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2), 0 10px 24px 0 rgba(0, 0, 0, 0.19);
}

.column a:link {
  text-decoration: none;
  color: #202020;
}

.column a:visited {
  text-decoration: none;
  color: #202020;
}

.column a:hover {
  text-decoration: none;
  color: #202020;
}

.column a:active {
  text-decoration: none;
  color: #202020;
}

