/* ------------ GENERAl ------------ */

* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: auto auto;
  grid-gap: 20px 20px;
  grid-auto-flow: dense;
}

body {
  background-color: #f1f1f1;
}

.card {
  background-color: white;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

/* ------------ ( ON SMALL SCREENS ) ADJUST LAYOUT ------------ */

/* TWO COLUMN  */
@media screen and (max-width: 900px) {
  .grid-container {
    grid-template-columns: repeat(3,1fr);
  }
}

/* ONE COLUMN */
@media screen and (max-width: 600px) {
  .grid-container {
    grid-template-columns: repeat(2,1fr);
  }
}

/* ------------ EFFECTS ------------ */

.card:hover {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3), 0 10px 24px 0 rgba(0, 0, 0, 0.19);
}

.grid-container a:link {
  text-decoration: none;
  color: #202020;
}

.grid-container a:visited {
  text-decoration: none;
  color: #202020;
}

.grid-container a:hover {
  text-decoration: none;
  color: #202020;
}

.grid-container a:active {
  text-decoration: none;
  color: #202020;
}