.list-grid {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-gap: 20px 20px;
  grid-auto-flow: dense;
}

#mainlist {
  display: grid;
  grid-template-columns: 1fr;
  margin-left: 300px;
  padding: auto;
}

.card {
  background-color: white;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

/* ------------ ( ON SMALL SCREENS ) ADJUST LAYOUT ------------ */

/* TWO COLUMN  */
@media screen and (max-width: 900px) {
  .list-grid {
    grid-template-columns: repeat(3,1fr);
  }
}

/* ONE COLUMN */
@media screen and (max-width: 600px) {
  .list-grid {
    grid-template-columns: repeat(2,1fr);
  }
}

/* ------------ EFFECTS ------------ */

.card:hover {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3), 0 10px 24px 0 rgba(0, 0, 0, 0.19);
}

.list-grid a:link {
  text-decoration: none;
  color: #202020;
}

.list-grid a:visited {
  text-decoration: none;
  color: #202020;
}

.list-grid a:hover {
  text-decoration: none;
  color: #202020;
}

.list-grid a:active {
  text-decoration: none;
  color: #202020;
}