/* ------------ MARKDOWN ------------ */

.markdown {
    font-size: 21px; 
}

code {
    font-family: monospace;
    max-width: auto;
    height: auto;
}

img {
    max-width: auto;
    height: auto;
}