/* ------------ MARKDOWN ------------ */

#mainsingle {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr; 
    padding: auto;
    margin-left: 300px;
  }

.markdown {

}

code {
    font-family: monospace;
    max-width: auto;
    height: auto;
}
