<!DOCTYPE html>
<html>

<!-- HTML HEAD -->
{{- partial "head" . -}}

<body>

  <!-- OPEN BUTTON -->
  {{- partial "openBtn" . -}}

  <!-- SIDENAV START-->
  <div id="mySidenav" class="sidenav">

    <!-- CLOSE BUTTON-->
    {{- partial "closeBtn" . -}}

    <!-- SITE TITLE -->
    {{- partial "siteTitle" . -}}

    <!-- SITE MENU -->
    {{- partial "siteMenu" . -}}

    <!-- PAGE TITLE -->
    {{- partial "pageTitle" . -}}

    <!-- PAGE DESC -->
    {{- partial "desc" . -}}

    <!-- TOC -->
    {{- partial "toc" . -}}

    <!-- FOOTER -->
    {{- partial "footer.html" . -}}

    <!-- SIDENAV END-->
  </div>

  <!-- PAGE CONTENT -->
  {{ block "singlecontent" . }}{{ end }}

</body>

<!-- JS -->
<script src="/js/ui.js"></script>

</html>