<!DOCTYPE html>
<html>

<!-- HTML HEAD -->
{{- partial "head" . -}}

<body>

  <!-- NAV -->
  {{- partial "nav" . -}}

  <!-- LIST CONTENT -->
  <div id="mainlist">
    <div class="mainlist">

      <!-- IF HOME ~ SITE GALLERY -->
      {{ if .IsHome }}
      <div class="grid-container">
        {{ range .Site.RegularPages }}
        {{ partial "gallery" . }}
        {{ end }}
        {{ end }}
      </div>

      <!-- IF SECTION ~ SECTION GALLERY -->
      {{ if .IsSection }}
      <div class="grid-container">
        {{ range where .Site.RegularPages "Type" .Page.Section }}
        {{ partial "gallery" . }}
        {{ end }}
        {{ end }}
      </div>

    </div>
  </div>

</body>

<!-- JS -->
<script src="/js/ui.js"></script>

</html>