<!DOCTYPE html>
<html>

<!-- HTML HEAD -->
{{- partial "head" . -}}

<body>

  <!-- OPEN BUTTON -->
  {{- partial "openBtn" . -}}

  <!-- SIDENAV START-->
  <div id="mySidenav" class="sidenav">

    <!-- CLOSE BUTTON-->
    {{- partial "closeBtn" . -}}

    <!-- SITE TITLE -->
    {{- partial "siteTitle" . -}}

    <!-- SITE MENU -->
    {{- partial "siteMenu" . -}}

    <!-- PAGE TITLE -->
    {{- partial "pageTitle" . -}}

    <!-- PAGE DESC -->
    {{- partial "desc" . -}}

    <!-- TOC -->
    {{- partial "toc" . -}}

    <!-- FOOTER -->
    {{- partial "footer.html" . -}}

    <!-- SIDENAV END-->
  </div>

  <!-- LIST CONTENT -->
  <div id="mainlist">
    <div class="mainlist">

      <!-- IF HOME ~ SITE GALLERY -->
      {{ if .IsHome }}
      {{ range .Site.RegularPages }}
      {{ partial "gallery" . }}
      {{ end }}
      {{ end }}

      <!-- IF SECTION ~ SECTION GALLERY -->
      {{ if .IsSection }}
      {{ range where .Site.RegularPages "Type" .Page.Section }}
      {{ partial "gallery" . }}
      {{ end }}
      {{ end }}

    </div>
  </div>

</body>

<!-- JS -->
<script src="/js/ui.js"></script>

</html>